build/
bin/
webapp/WEB-INF/data/media/
webapp/WEB-INF/logs/
webapp/WEB-INF/classes/
webapp/WEB-INF/tmp/
webapp/WEB-INF/data/eml/
webapp/WEB-INF/data/medialab/
webapp/WEB-INF/data/visualdata/
webapp/media/catalogs/

