@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) central stylesheet
 * (de) zentrales Stylesheet
 *
 * @creator       YAML Builder V1.2 (http://builder.yaml.de)
 * @file          my_layout.css
 * @-yaml-minver  3.1
 * 
 */
  
@import url(layout.css);

@import url(content.css);

/* import screen layout | Screen-Layout einbinden */
@import url(tabs.css);

@import url("pages/results.css");

@import url("yamlbase.css");

h1,h2,h3,h4,h5,h6 
{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    color:#eee;
    margin:0 0 0.25em 0;
}

h3
{
    font-size: 1.1em;
}
  
h5
{
	  font-size: 1.6em;
}
  
 a
 {
 	color: #eee;
 	text-decoration: none;
 } 
.common-info, .common-about, .common-success, .common-warning, .common-error, .common-validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.common-info {
color: #00529B;
background-color: #CCC;
background-image: url('../../images/info.png');
}

.common-about {
color: #000000;
background-color: #F3F3F3;

}


.common-success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../../images/validgreen.png');
}
.common-warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../../images/attention.png');
}
.common-error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../../images/cancel.png');
}

  

#emcontainer #emdropdown {
    background: url("../images/buttons/emdropdownbutton.png") no-repeat scroll right top;
    background-color: transparent;
    margin-right: 0px;
    min-width: 40px;
}
#emcontainer #emdropdown .emvalue {
    color: #633108;
    height: 17px;
    padding: 0px 8px;
}

#emdropdowndiv {
    background-color: white;
    border: 1px solid #222222;
    min-width: 250px;
    position: absolute;
    z-index: 600;
}
#emdropdowndiv {
	padding-top: 20px;
    background-color: transparent;
 	border: 0px;
    min-width: 150px;
}
commentbox
#emcontainer .emnavigateboxes {
    padding-bottom: 5px;
    text-align: right;
}


.textlink 
{
	padding: 5px;
}
.textlink a
{
	text-decoration: none;
}
.textlink a:hover span
{
	text-decoration: underline;
}
.textlink a span
{
	padding-left: 5px;
}
.textlink img
{
	padding-left: 10px;
	vertical-align: bottom;
}

.emactionheader
{commentbox
	width: 100%;
}
#emcontainer .emdatafield
{
	
	vertical-align: top;
}

.hmenu { background: transparent; border: 0 none; }

.hmenu #hmenufirstlink span
{
	background: url('../images/bgbuttonstart.png') no-repeat top left;
	padding-left: 60px;

}
.hmenu #hmenufirstlink a
{
	background: url('../images/bgbuttonright.png') no-repeat top right;
}
#hmenufirstlink a.current,#hmenufirstlink a:hover  
{
}

#hmenufirstlink  a.currcommentboxent span, #hmenufirstlink a:hover span 
{
	background: url(../images/bgbuttonstartselected.png) no-repeat top left;
}

.hmenu li 
{
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 0px;
}

.hmenu li a {
	text-decoration: none;
	float:left;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	height: 90px;
	background: url('../images/bgbuttonright.png') no-repeat top right;
}

.hmenu li a span {
	white-space: nowrap;
	color: #CCC;
	font-size: 1.2em;
	padding: 38px 14px 5px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	height: 90px;
	background: url(../images/bgbuttonleft.png) no-repeat top left;
}

.hmenu li a.current,.hmenu li a:hover  
{
	background: url(../images/bgbuttonrightselected.png) no-repeat top right;
}

.hmenu li a.current span, .hmenu li a:hover span 
{
	color: #EEEEEE;
	background: url(../images/bgbuttonleftselected.png) no-repeat top left;
}


#hmenulast a
{
	background: url('../images/bgbuttonend.png') no-repeat top right;
	padding-right: 60px;
}

#hmenulast span
{
	background: url(../images/bgbuttonleftlast.png) no-repeat top left;
}

#hmenulast a.current,#hmenulast a:hover  
{
	background: url(../images/bgbuttonendselected.png) no-repeat top right;
}

#hmenulast  a.current span, #hmenulast a:hover span 
{
	background: url(../images/bgbuttonleftselectedlast.png) no-repeat top left;
}


#appcontainer
{
	background: url(../images/bgcontainer.jpg);
	height: 100%;
	width: 100%;
	margin: 0px;
	border-collapse: collapse;
}ul.embuttons 
{
	padding: 5px;
	margin: 10px;
	list-style: none;
	clear: left;
	height: 22px;
}

ul.embuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.embuttons li a {
	text-decoration: none;
	float:left;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	padding-bottom: 6px;
	background: url(../images/buttons/embuttons.png) no-repeat top right;
}

ul.embuttons li a span {
	white-space: nowrap;

	margin: 0 10px 0 -10px;
	padding: 0px 8px 0px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	background: url(../images/buttons/embuttons.png) no-repeat top left;
}

ul.embuttons li a.current,ul.embuttons  li a:hover  
{
 	color: #633108;
	background: url(../images/buttons/embuttonshover.png) no-repeat top right;
}

ul.embuttons li a.current span, ul.embuttons li a:hover span 
{
	background: url(../images/buttons/embuttonshover.png) no-repeat top left;
}

#appheaderleft
{
	width:62px;
	background: url(../images/bgheaderleft.png);
}
#appheader
{
	background: url(../images/bgheader.png);
	height: 190px;
}
#appheaderright
{
	width:62px;
	background: url(../images/bgheaderright.png);
}ul.embuttons 
{
	padding: 5px;
	margin: 10px;
	list-style: none;
	clear: left;
	height: 22px;
}

ul.embuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.embuttons li a {
	text-decoration: none;
	float:left;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	padding-bottom: 6px;
	background: url(../images/buttons/embuttons.png) no-repeat top right;
}

ul.embuttons li a span {
	white-space: nowrap;

	margin: 0 10px 0 -10px;
	padding: 0px 8px 0px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	background: url(../images/buttons/embuttons.png) no-repeat top left;
}

ul.embuttons li a.current,ul.embuttons  li a:hover  
{
 	color: #633108;
	background: url(../images/buttons/embuttonshover.png) no-repeat top right;
}

ul.embuttons li a.current span, ul.embuttons li a:hover span 
{
	background: url(../images/buttons/embuttonshover.png) no-repeat top left;
}
#appcontentleft
{
	width:62px;
	background: url(../images/bgleft.png);
}
#appcontentright
{
	width:62px;
	background: url(../images/bgright.png);
}
#appcontainer #appbottomleft
{
	line-height: 0;
	background: url(../images/bgleft.png);
	vertical-align: bottom;
}
#appcontainer ul.embuttons 
{
	padding: 5px;
	margin: 10px;
	list-style: none;
	clear: left;
	height: 22px;
}

ul.embuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.embuttons li a {
	text-decoration: none;
	float:left;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	padding-bottom: 6px;
	background: url(../images/buttons/embuttons.png) no-repeat top right;
}

ul.embuttons li a span {
	white-space: nowrap;

	margin: 0 10px 0 -10px;
	padding: 0px 8px 0px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	background: url(../images/buttons/embuttons.png) no-repeat top left;
}

ul.embuttons li a.current,ul.embuttons  li a:hover  
{
 	color: #633108;
	background: url(../images/buttons/embuttonshover.png) no-repeat top right;
}

ul.embuttons li a.current span, ul.embuttons li a:hover span 
{
	background: url(../images/buttons/embuttonshover.png) no-repeat top left;
}#appbottomright
{
	line-height: 0;
	vertical-align: bottom;
	background: url(../images/bgright.png);
}
#appcontent
{
	background: url(../images/bgfooter.png) repeat-x bottom left;
}

.em-rounded
{
	border-radius: 8px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadowul.embuttons 
{
	padding: 5px;
	margin: 10px;
	list-style: none;
	clear: left;
	height: 22px;
}

ul.embuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.embuttons li a {
	text-decoration: none;
	float:left;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	padding-bottom: 6px;
	background: url(../images/buttons/embuttons.png) no-repeat top right;
}

ul.embuttons li a span {
	white-space: nowrap;

	margin: 0 10px 0 -10px;
	padding: 0px 8px 0px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	background: url(../images/buttons/embuttons.png) no-repeat top left;
}

ul.embuttons li a.current,ul.embuttons  li a:hover  
{
 	color: #633108;
	background: url(../images/buttons/embuttonshover.png) no-repeat top right;
}

ul.embuttons li a.current span, ul.embuttons li a:hover span 
{
	background: url(../images/buttons/embuttonshover.png) no-repeat top left;
}: 0px 0px 20px #000; 
	-moz-box-shadow: 0px 0px 20px #000; 
	-webkit-box-shadow: 0px 0px 20px #000; 
	border: 1px solid #000;
	padding: 5px;
	background: rgba(31, 31, 31, 0.9);
}

.editheader
{
	background: url(../images/sliver.png);

border-top-left-radius: 8px;
border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
	
	box-shadow: 0px 0px 20px #000; 
	-moz-box-shadow: 0px 0px 20px #000; 
	-webkit-box-shadow: 0px 0px 20px #000; 
	height: 26px;
}
.editbody
{
/*-webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;*/
	background: rgba(61, 61, 61, 0.9);
	padding: 20px;
}
#emcontainer table
{
	width: 100%;
	border: 0 none;
	border-collapse: collapse;
}

#emcontainer .emresultscontent
{
   border-radius: 8px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 0px 0px 20px #000; 
	-moz-box-shadow: 0px 0px 20px #000; 
	-webkit-box-shadow: 0px 0px 20px #000; 
	background: rgba(31, 31, 31, 0.9);
	margin: 0 0px 20px 0px;
}
#tableheader
{
	height:26px;
	
	box-shadow: 0px 0px 10px #000; 
	-moz-box-shadow: 0px 0px 10px #000; 
	-webkit-box-shadow: 0px 0px 10px #000; 
	
	padding:  -13px -5px 20px -5px;

}

.emsectionheader
{
	background: url(../images/sliver.png);
	height:26px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	box-shadow: 0px 0px 10px #000; 
	-moz-box-shadow: 0px 0px 10px #000; 
	-webkit-box-shadow: 0px 0px 10px #000; 
	
	margin:  -6px -5px 15px -5px;
	
}
.emsectionheader h3
{
	padding: 6px 5px 0 10px;
}	

#emcontainer #emselectable table tr.emborderhover {	 background: rgb(80, 64, 64); color:#fff  }
#emcontainer #emselectable table th {	line-height: 20px; vertical-align: middle; padding: 0 0px 0 4px; }
#emcontainer #emselectable table th input {	 margin-top: 6px }
#emcontainer #emselectable table tr td {	 vertical-align: middle;  padding: 2px; }
#emcontainer #emselectable table tr.emborderhover td.statuscolumn {background: rgb(80, 64, 64); !important } 
#emcontainer #emselectable table tr td.statuscolumn 
{	
	text-align: center;
	text-shadow: #000 0px 0px 5px;
	color: green;
	
} 

ul.embuttons li a {
    color: #222222;
}

#emcontainer   #emselectable  table #tableheader th
{
	background: url(../images/sliver.png);
	text-align: left;
}
#emcontainer   #emselectable  table #tableheader th.firstheader
  {
  	    background: transparent url("../images/resultsbarleftcap.png") no-repeat top left;
  }
#emcontainer   #emselectable  table #tableheader th.firstheaderdark
  {
  	    background: transparent url("../images/resultsbarleftcapdark.png") no-repeat top left;
  	    text-align: center;
  }
#emcontainer   #emselectable  table  #tableheader th.lastheader
  {
  	    background: transparent url("../images/resultsbarrightcap.png") no-repeat top right;
  }
 
.glossybutton 
{
	margin: 20px 0px 0 0;
}

.glossybutton a {
	width: 250px;
	height: 62px;
	background: url('../images/greenbutton250.png') no-repeat top left;
	display:block;
	text-decoration: none;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	text-align:center;
	opacity: .8;
	
}
.glossybutton a 
{
	padding: 20px 0px;
	color: #212121;
	font-size: 1.5em;
}
.glossybutton a.current,.glossybutton  a:hover  
{
	Xbackground: url(../images/bgbuttonrightselected.png) no-repeat top right;
	opacity: 1;
	
}
#emcontainer .emdatafield
{
	text-align: left;
}
#emcontainer .emsearchfield
{
	padding: 4px 8px 10px 4px;
	
}
#emcontainer .em-widget-content
{
	padding-left: 4px; 
}
.listdetailpicker select
{
	min-width: 180px;
	float:left;
}
.ui-icon 
{
	float:left;
}

form
{
padding: 0px;
margin: 0px;
}

.commentbox
{
	background-color: #001210;
	height: 100px;
		border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
		box-shadow: inset 0px 0px 5px 5px #000705; 
	-moz-box-shadow: inset 0px 0px 2px 2px #000705; 
	-webkit-box-shadow: inset 0px 0px 5px 5px #000705; 
	
}

ul.editbuttons 
{
	list-style: none;
	clear: left;
	min-width: 50px;
}

ul.editbuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
	height: 54px;
}

ul.editbuttons li a {
	height: 54px;

	text-decoration: none;
	float:left;
 	color: #633108;
	cursor: pointer;
	font: 12px/22px "Arial", Helvetica, sans-serif;
	padding-bottom: 6px;
	opacity: .8;
	background: url(../images/editbuttons.png) no-repeat top right;
}

ul.editbuttons li a span {
	white-space: nowrap;
	height: 54px;
	color: #eee;
	margin: 0 10px 0 -10px;
	padding: 16px 8px 0px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	background: url(../images/editbuttons.png) no-repeat top left;
}

ul.editbuttons li a.current,ul.editbuttons  li a:hover  
{
 	color: #633108;
 	opacity: 1;
}

ul.editbuttons li a.current span, ul.editbuttons li a:hover span 
{
}

#emcontainer #emcontent .selectedfolder A 
{
	font-weight: bold;
	background-image: url("../images/navigation/folderopen.png");
}
#emcontainer .folderlink 
{
	padding: 5px;
	margin-left: 10px;
}	
#emcontainer .folderlink A
{
	display:block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url("../images/navigation/folderclosed.png");
	line-height: 16px;
}
#emcontainer .folderlink A span
{
	padding-left: 20px;
}
#emcontainer .folderlink A:hover span
{
	text-decoration: underline;
}

#emcontainer #emselectable table tr
{
	color: #666;
}