$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")

<div class="subcolumns">
   <div class="c33l">
            <div class="subcl">     
         


       
<div class="ui-widget">
<div class="ui-widget-header">Asset Details</div>
<div class="ui-widget-content">

	  $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
	
	
	<a class="uibutton" href="$home$apphome/views/activity/downloadassets.html?sourcepath=$asset.sourcepath"><span>[[Download]]</span></a>
	<a class="uibutton"  href="$home$apphome/views/activity/emailassets.html?sourcepath=$asset.sourcepath"><span>[[Email]]</span></a>
	<a class="uibutton"  href="$home$apphome/views/activity/publishassets.html?sourcepath=$asset.sourcepath"><span>[[Export]]</span></a>
	##$pages.include("$apphome/components/albums/basket/toggleitem.html?assetid=$asset.id?")


</div></div>
</div></div>

   <div class="c66r">
            <div class="subcr">
  
  

       
<div class="ui-widget">
<div class="ui-widget-header">Asset Details</div>
<div class="ui-widget-content">
  
  
  $pages.include("$apphome/components/mediaviewer/details/metadataedit.html")
  </div></div>
  
  </div></div></div>