
<table width="100%" > 
<tr>

<td width="280" class="searchbars">


<div class="em-rounded"  style="margin-bottom: 20px;">
$pages.include("$apphome/components/savedsearches/index.html", $context)
</div>

$pages.include("$apphome/components/advancedsearch/index.html", $context)
	

<div class="em-rounded" style="margin-top: 20px;">
<div class="emsectionheader"><h3>Asset Types</h3></div>
$pages.include("$apphome/components/dontshow/index.html")
</div>

</td>
<td width="10">
</td>
<td  >
      
$pages.includeContent()
</td>
</tr>
</table>
<div class="nothing" style="display:none;"></div>



